<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preload" href="/styles/add-game-session.css" as="style">
    <link rel="stylesheet" href="/styles/add-game-session.css">
</head>
<%- include('partials/header.ejs') %>
<div class="container">
    <h1><%= boardgame.name %></h1>
    <img src="<%= boardgame.image %>" alt="<%= boardgame.name %>">

    <div class="form-container">
        <form action="/add-game-session/<%= boardgame.boardgame_id %>" method="POST">
            <div class="form-group">
                <label for="session-date">Session Date:</label>
                <input type="date" id="session-date" name="session_date" required>

                <label for="session-time">Session Time:</label>
                <input type="time" id="session-time" name="session_time" required>

                <input type="hidden" id="boardgame_id" name="boardgame_id" value="<%= boardgame.boardgame_id %>" required>
            </div>
            <div class="button-container">
                <button type="submit" class="submit-button add-session-button" id="add-session-button" disabled>Add New Session</button>
                <a href="/edit-game/<%= boardgame.boardgame_id %>" class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script src="/scripts/add-game-session.js"></script>

<%- include('partials/footer.ejs') %>

