<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Board Game</title>
    <link rel="stylesheet" href="/styles/edit-game.css">
</head>
<body>
<%- include('partials/header.ejs') %>
<div class="container">
    <h1><%= boardgame.name %></h1>
    <img src="<%= boardgame.image %>" alt="<%= boardgame.name %>">
    <div class="button-container">
        <a href="/add-game-session/<%= boardgame.boardgame_id %>" class="button add-session-button">Add New Session</a>
        <form action="/edit-game/<%= boardgame.boardgame_id %>" method="POST" style="margin: 0;">
            <input type="hidden" name="boardgame_id" value="<%= boardgame.boardgame_id %>">
            <button type="submit" class="button delete-button">Delete Board Game</button>
        </form>
        <a href="/" class="button add-session-button">Cancel</a>
    </div>
</div>

<%- include('partials/footer.ejs') %>
</body>
</html>